:root {
  --binary-search-stroke: #ef4444;
  --linear-search-stroke: #0f172a;
  --binary-search-predictable-stroke: #059669;
}

[data-theme='dark'] {
  --binary-search-stroke: #f87171;
  --linear-search-stroke: #94a3b8;
  --binary-search-predictable-stroke: #34d399;
}

.legend-swatch.BinarySearchRandomTarget {
  background-color: var(--binary-search-stroke);
}

.legend-swatch.LinearSearch {
  background-color: var(--linear-search-stroke);
}

.legend-swatch.BinarySearchPredictableTarget {
  background-color: var(--binary-search-predictable-stroke);
}

.BinarySearchRandomTarget {
  stroke: var(--binary-search-stroke);
}

path.BinarySearchRandomTarget {
  fill: none;
}

.LinearSearch {
  stroke: var(--linear-search-stroke);
}

path.LinearSearch {
  fill: none;
}

.BinarySearchPredictableTarget {
  stroke: var(--binary-search-predictable-stroke);
}

path.BinarySearchPredictableTarget {
  fill: none;
}

circle {
  fill: var(--plot-dot);
  stroke: var(--plot-dot);
}
