:root {
  --binary-search-stroke: #e29a93;
  --branchless-binary-search-stroke: #e3b063;
  --branchless-predictable-binary-search-stroke: rgb(233, 10, 44);
  --linear-search-stroke: #6b7280;
  --binary-search-predictable-stroke: #5aa985;
  --std-lower-bound-stroke: #8aa9e8;
}

[data-theme='dark'] {
  --binary-search-stroke: #e0a6a1;
  --branchless-binary-search-stroke: #d7b36a;
  --linear-search-stroke: #b8c1cd;
  --binary-search-predictable-stroke: #7fc9a9;
  --std-lower-bound-stroke: #9db7f0;
  --branchless--predictable-binary-search-stroke: rgb(233, 10, 44);
}

.legend-swatch.BinarySearchRandomTarget {
  background-color: var(--binary-search-stroke);
}

.legend-swatch.BranchlessBinarySearchRandomTarget {
  background-color: var(--branchless-binary-search-stroke);
}

.legend-swatch.LinearSearch {
  background-color: var(--linear-search-stroke);
}

.legend-swatch.BinarySearchPredictableTarget {
  background-color: var(--binary-search-predictable-stroke);
}

.legend-swatch.BranchlessBinarySearchPredictableTarget {
  background-color: var(--branchless-predictable-binary-search-stroke);
}

.BranchlessBinarySearchPredictableTarget {
  stroke: var(--branchless-predictable-binary-search-stroke);
  stroke-width: 1;
}

.legend-swatch.StdLowerBound {
  background-color: var(--std-lower-bound-stroke);
}

.BinarySearchRandomTarget {
  stroke: var(--binary-search-stroke);
}

.BinarySearchPredictableTarget {
  stroke: var(--branchless-binary-search-stroke);
}

path {
  fill: none;
}

.BranchlessBinarySearchRandomTarget {
  stroke: var(--branchless-binary-search-stroke);
}

.LinearSearch {
  stroke: var(--linear-search-stroke);
}

.BinarySearchPredictableTarget {
  stroke: var(--binary-search-predictable-stroke);
}

.StdLowerBound {
  stroke: var(--std-lower-bound-stroke);
}

circle {
  fill: var(--plot-dot);
  stroke: var(--plot-dot);
}
