html {
  --binary-search-stroke: rgb(249, 65, 3);
  --linear-search-stroke: rgb(11, 11, 18);
}

.legend-swatch.BinarySearchRandomTarget {
  background-color: var(--binary-search-stroke);
}

.legend-swatch.LinearSearch {
  background-color: var(--linear-search-stroke);
}

.BinarySearchRandomTarget {
  stroke: var(--binary-search-stroke);
}

.LinearSearch {
  stroke: var(--linear-search-stroke);
}