:root {
  --binary-search-stroke: #f28b82;
  --branchless-binary-search-stroke: #f59e0b;
  --linear-search-stroke: #475569;
  --binary-search-predictable-stroke: #34a27a;
  --std-lower-bound-stroke: #6fa0f6;
}

[data-theme='dark'] {
  --binary-search-stroke: #f1a7a3;
  --branchless-binary-search-stroke: #fbbf24;
  --linear-search-stroke: #c3cedb;
  --binary-search-predictable-stroke: #66d2ab;
  --std-lower-bound-stroke: #95bdfa;
}

.legend-swatch.BinarySearchRandomTarget {
  background-color: var(--binary-search-stroke);
}

.legend-swatch.BranchlessBinarySearchRandomTarget {
  background-color: var(--branchless-binary-search-stroke);
}

.legend-swatch.LinearSearch {
  background-color: var(--linear-search-stroke);
}

.legend-swatch.BinarySearchPredictableTarget {
  background-color: var(--binary-search-predictable-stroke);
}

.legend-swatch.StdLowerBound {
  background-color: var(--std-lower-bound-stroke);
}

.BinarySearchRandomTarget {
  stroke: var(--binary-search-stroke);
}

path.BinarySearchRandomTarget {
  fill: none;
}

.BranchlessBinarySearchRandomTarget {
  stroke: var(--branchless-binary-search-stroke);
}

path.BranchlessBinarySearchRandomTarget {
  fill: none;
}

.LinearSearch {
  stroke: var(--linear-search-stroke);
}

path.LinearSearch {
  fill: none;
}

.BinarySearchPredictableTarget {
  stroke: var(--binary-search-predictable-stroke);
}

path.BinarySearchPredictableTarget {
  fill: none;
}

.StdLowerBound {
  stroke: var(--std-lower-bound-stroke);
}

path.StdLowerBound {
  fill: none;
}

circle {
  fill: var(--plot-dot);
  stroke: var(--plot-dot);
}
